body{
    background-color: plum;
}

nav {
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

#quote{
    text-align: center;
    color: white;
}

#author {
    text-align: center;
    color: white;
}

#list {
    color: black;
    font-weight: bold;
}

img {
    width: 50%;
}

main {
    width: 60%;
    
}

h2 {
    text-align: center;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 20px;
    width: 60%;
}

* {
    border: 2px solid blue;
}