body{
    background-color: pink;
}

nav {
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

#quote{
    text-align: center;
    color: white;
}

#author {
    text-align: center;
    color: white;
}

#list {
    color: black;
}

img {
    width: 50%;
}