
nav {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}

a {
    color: white;
    padding: 10px;
    font-size: 1.5em;
}

h1 {
    color: steelblue;
    text-align: center;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

p {
    width: 80%;
}

footer {
    background-color: steelblue;
    color: white;
    text-align: center;
}
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

#active {
    background-color: white;
    color: steelblue;
}
