@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

body {
    background-color: #F7F5EF;
    font-family: 'Oswald', 'Lucida Grande', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 50px auto;
    background-color: #E0D1C3;
}
.topNav {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: #F7F5EF;
}
#address {
    float: left;
    padding: 10px;
    color: #759580;
}
#twitter {
    float: right;
    padding: 2px;
}
#facebook {
    float: right;
    padding: 2px;
    padding-right: 10px;
}
#logo_link {
    padding-left: 10px;
    justify-self: left;
    align-self: center;
}
nav {
    display: flex;
    justify-content: flex-start;
}
nav a:hover {
    background-color: #759580;
    color: #E0D1C3;
}
nav a {
    text-align: center;
    color: #759580;
    text-decoration: none;
    padding: 25px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
#heroBox {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 25px;
    margin-left: 100px;
}
#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    text-align: left;
    color: #E0D1C3;
}
h4 {
    font-family: 'Montserrat', Tahoma, sans-serif;
}
#hero-msgBg {
    background: #42413Cad;
    padding: 20px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.locBox {
    grid-column: 2/5;
    margin-top: 50px;
    text-align: center;
    background-color: #E0D1C3;
    padding: 25px;
    color: #759580;
}
.locMap {
    grid-column: 6/11;
}
#socIcons {
    padding-top: 25px;
}

footer {
    background-color: #E0D1C3;
    color: #759580;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 100px;
}
.footerNav {
    grid-column: 6/10;
    display: flex;
    justify-content: flex-end;
}
.footerNav a {
    text-align: center;
    color: #759580;
    text-decoration: none;
    padding: 25px;
}
#copyw {
    grid-column: 2/5;
    padding: 25px;
}
.footerNav a:hover {
    color: #F7F5EF;
}


* {
    box-sizing: border-box;
  }
  
  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  h2 {
    color: #759580;
  }


  #heroServ {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }
  #heroServ-msg h4 {
    text-align: center;
  }
  #heroServ-msg {
    width: 500px;
    margin: auto;
    color: #759580;
  }
 #heroServ-msg h1 {
  text-align: center;
 }
  #serv-grid {
    display: grid;
    grid-template-rows: 50px 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
    margin-left: 50px;
    margin-top: 50px;
    color: #759580;
  }
  #headingCuts {
    grid-row: 1/2;
  }
  #typeCuts {
    grid-row: 2/3;
  }
  #headingColors {
    grid-row: 3/4;
  }
  #typeColors {
    grid-row: 4/5;
  }
  #headingTreatments {
    grid-row: 5/6;
  }
  #typeTreatments {
    grid-row: 6/7;
  }
  #headingExt {
    grid-row: 7/8;
  }
  #typeExt {
    grid-row: 8/9;
  }
  #headingMakeup {
    grid-row: 9/10;
  }
  #typeMakeup {
    grid-row: 10/11;
  }
  .vl {
    border-left: 2px solid #759580;
    height: 15px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  #heroProd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }
  #heroProd-msg h4 {
    text-align: center;
  }
  #heroProd-msg {
    width: 500px;
    margin: auto;
    color: #759580;
  }
 #heroProd-msg h1 {
  text-align: center;
 }

 #prod-grid {
  display: grid;
  grid-template-rows: 1fr 100px 1fr;
  grid-template-columns: 1fr 50px 1fr 50px 1fr;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  color: #759580;
 }


 .prod1-card {
  grid-row: 1/2;
  grid-column: 1/2;
 }
 .prod2-card {
  grid-row: 1/2;
  grid-column: 3/4;
 }
 .prod3-card {
  grid-row: 1/2;
  grid-column: 5/6;
 }
 .prod4-card {
  grid-row: 3/4;
  grid-column: 1/2;
 }
 .prod5-card {
  grid-row: 3/4;
  grid-column: 3/4;
 }
 .prod6-card {
  grid-row: 3/4;
  grid-column: 5/6;
 }